.taskbar {
    position: fixed;
    bottom: 0;
    background-color: $taskbar-bg;
    width: 100%;
    height: $taskbar-height;
    display: grid;
    grid-template-columns: $start-width auto min-content;
    grid-template-rows: 1fr;

    

    .items-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}