.window {
    display: grid;
    grid-template-rows: $nav-bar-height 1fr 3rem;
    font-family: w95;
    background-color: #C0C7C8;
    border-left: 2px solid #F2F4F4;
    border-top: 2px solid #E6E9E9;
    border-right: 2px solid #9A9FA0;
    border-bottom: 2px solid #262828;
    // width: 800px;
    height: 100%;
    box-shadow: 2px 2px rgba(0, 0, 0, .5);
    .nav-bar {
        margin-inline:3px;
        grid-row-start: 1;
        justify-self: center;
        width: 100%;
        height: $nav-bar-height;
        font-weight: 400;
        text-align: left;
        background: linear-gradient(to right, $nav-bar-gradient-start 20%, $nav-bar-gradient-end 50%);
        color:$nav-bar-font-color;
        padding-inline: 2px;
        display: grid;
        grid-template-columns: 1fr auto;
        .title{
            font-size: $nav-bar-font-size;
        }
        .actions{
            button{
                @include win95-button(22px,20px);
                font-size: 14px;
            }
        }
    }
    .content{
        grid-row-start: 2;
    }
    @include disable-select();
}