.home-page {
    height: 100%;
    background: $index-bg;
    background-image: url('/img/background-texture.png');
    display: flex;
    flex-direction: column;

    .desktop {
        height: calc(100% - $taskbar-height);
    }
}