@mixin win95-button($width,$height) {
    height: $height;
    width: $width;
    padding: 0;
    margin: 0 0 0 0;
    background: #C0C7C8;
    color: black;
    border-left: 2px solid #737778;
    border-top: 2px solid #737778;
    border-right: 2px solid #262828;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    align-self: flex-end;
    &:active{
        border-left: 2px solid #262828;
        border-top: 2px solid #262828;
        border-right: 2px solid #737778;
        border-bottom: 2px solid #737778;
    }
}