@mixin win95-button($width, $height) {
    height: $height;
    width: $width;
    padding: 0;
    margin: 0 0 0 0;
    background: #C0C7C8;
    color: black;
    border-left: 2px solid #737778;
    border-top: 2px solid #737778;
    border-right: 2px solid #262828;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    align-self: flex-end;

    &:active {
        border-left: 2px solid #262828;
        border-top: 2px solid #262828;
        border-right: 2px solid #737778;
        border-bottom: 2px solid #737778;
    }
}

@mixin win95-clock() {
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: 1px solid #08080E;
    border-left: 1px solid #08080E;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    height: calc(100% - 6px);
    width: 100%;
    span {
        margin: auto 15px;
    }
}

@mixin disable-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin icon($size) {
    width: $size;
    height: $size;
}