.list-component {
    @include win95-inner-border();
    margin: rem(4px);
    padding: rem(3px);
    width: 100%;
    // height: 100%;   
    img {
        @include icon(1.5rem);
    }

    a {
        text-decoration: underline;
        color: $shortcut-active;
        font-size: 1.5rem;

        &:nth-of-type(2) {
            font-size: 1rem;
            align-self: end;
        }
    }

    .list-item {
        padding: 2px;
        border: 1px dotted black;
        background-color: white;
        margin-block-end: 0rem;
        gap: 1rem;
        &:last-of-type {
            margin-block-end: 0;
        }
    }
}