.notepad-container{
    height: 100%;
}
.notepad{
    @include win95-inner-border();
    overflow: scroll;
    padding-inline: 3px;
    padding-block-end: 2px;
    background:white;
    width: 100%;
    height: 100%;
}