.notepad-container{
    height: calc(100% - 32px);
}
.notepad{
    @include win95-inner-border();
    font-family: w95;
    font-size: 1rem;
    overflow: scroll;
    padding-inline: 3px;
    padding-block-end: 2px;
    background:white;
    width: auto;
    // height: 100%;
}